@import "../../../sass/variables";

.hero {
  position: relative;

  @include breakpoint($bp-medium) {
    top: -70px;
  }

  &__summary {
    padding: 32px;
    color: $color-white;
    background-color: $color-white;
    border-radius: 0 0 $border-radius $border-radius;
    box-shadow: $box-shadow;

    @include breakpoint($bp-medium) {
      position: absolute;
      bottom: 120px;
      left: 150px;
      right: auto;
      min-width: 615px;
      max-width: 800px;
      background-color: rgba(0, 0, 0, 0.6);
      border-radius: $border-radius;
    }
  }

  &__media {
    img {
      display: block;
      width: 100%;

      @include breakpoint($bp-large) {
        height: calc(100vh);
        object-fit: cover;
      }
    }
  }

  .field--name-field-paragraph-title {
    margin-top: 0;
    color: $primary-text-color;

    @include breakpoint($bp-medium) {
      color: $color-white;
    }

    @include breakpoint($bp-large) {
      font-size: $font-size-h2-landing;
    }

    strong {
      display: block;
    }
  }

  .field--name-field-description {
    p {
      font-size: $font-size-md;
      font-weight: $bold;
    }

    @include breakpoint(max-width $bp-medium - 1) {
      display: none;
    }
  }
}
