/**
 * @file
 * Styles for horizontal scroll js.
 */

@import "../../../sass/variables";

.overflow-wrapper {
  --overflow-gradient: linear-gradient(to right, rgba(240, 240, 240, 0.2) 0%, rgb(240, 240, 240) 100%);
  --overflow-after-width: 50px;
  position: relative;

  &--horizontal {
    @include breakpoint(max-width $bp-xxlarge - 1) {
      &::after {
        content: '';
        display: block;
        width: var(--overflow-after-width);
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        background: var(--overflow-gradient);
      }
    }

    .overflow-element {
      overflow-x: auto;
      white-space: nowrap;
    }
  }

  &--vertical {
    .arrow-down {
      display: none;
    
      @include breakpoint($bp-medium) {
        display: block;
        position: absolute;
        left: 50%;
        bottom: 10px;
        transform: translateX(-50%);
        animation: mouse-scroll 1s infinite;
        animation-direction: alternate;
      }
    }
  }

  &--end {
    &::after,
    .arrow-down {
      display: none;
    }
  }

  &--no-scroll {
    .arrow-down {
      display: none;
    }
  }
}
