{#
/**
 * @file
 * Top menu - anchor menu.
 * menu - the menu items.
 */
#}

{{ attach_library('gmk/top-menu') }}

<div class="top-menu" style="background-color: {{ bg_color }};">
  <div class="top-menu__inner overflow-wrapper overflow-wrapper--horizontal">
    <div class="top-menu__content overflow-element">
      {% for menu_key, menu_item in menu %}
        <h3 class="top-menu__item">
          <a href="#section-{{ menu_key }}">
            {{ menu_item }}
          </a>
        </h3>
      {% endfor %}
    </div>
  </div>
</div>
