/**
 * @file
 * Global and utility classes.
 */

@import "../../../sass/variables";

:root {
  // --color-primary: #ffd400;
  --color-primary: #ff2c2c;
  --color-primary-hover: #ac0202;
  --color-secondary: #3a3678;
  --color-secondary-rgb: 58, 54, 120;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
