@import "../../../sass/variables";

.block-type__quick-links {
  text-align: center;

  .field--name-body {
    margin: 16px 0;
    font-size: 18px;
  }

  .field--name-field-links {
    display: flex;
    justify-content: center;
  }
}
