/**
 * @file
 * Brands paragraph styles.
 */
@import '../../../sass/variables';

.brands-wrapper {
  @include breakpoint(max-width $bp-xxlarge - 1) {
    position: relative;
    max-width: 90%;
    margin: auto;
  }
}

.field--name-field-brands {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include breakpoint(max-width $bp-xxlarge - 1) {
    padding: $spacing-xs 0;

    img {
      min-width: 100px;
    }
  }

  .field__item {
    margin-right: $spacing-m;

    &:last-child {
      margin-right: 0;
    }
  }

  img {
    width: auto;
    max-height: 50px;
  }
}
