@import "../../../sass/variables";

.button {
  display: inline-block;
  font-size: $primary-font-size;
  color: $color-white;
  padding: 16px 24px;
  line-height: 1;
  text-align: center;
  border-radius: $border-radius;
  font-weight: 600;
  text-transform: uppercase;

  &:hover {
    text-decoration: none;
  }

  &--primary {
    transition: background-color $transition-duration - 0.1;
    background-color: $color-primary;

    &:hover {
      background-color: $color-primary-hover;
    }
  }

  &--secondary {
    padding: 8px 16px;
    border: 1px solid $color-primary;
    text-transform: none;
    background-color: $color-white;
    color: $primary-text-color;
    transition: all $transition-duration;

    &:hover {
      background-color: $color-primary;
      color: $color-white;
    }
  }

  &--cta {
    padding-right: 0;
    padding-left: 0;
    border-bottom: 1px solid $color-primary;
    border-radius: 0;
    color: $primary-text-color;
    transition: border $transition-duration, padding $transition-duration;


    svg {
      width: 16px;
      height: 16px;
      margin-left: 14px;
      fill: $color-primary;
      transition: transform $transition-duration;
    }

    &:hover {
      padding-right: 10px;

      svg {
        transform: translateX(10px);
      }
    }
  }
}
