/**
 * @file
 * Styles for info item from info block paragraph.
 */
.info-item {
  text-align: center; }
  .info-item .field--name-field-icon {
    max-width: 80px;
    margin: auto; }
  .info-item .material-icons-outlined {
    font-size: 70px; }
