/**
 * @file
 * General purpose grid styles.
 */

@import "../../../sass/variables";

.container {
  max-width: $container-default;
  margin-left: auto;
  margin-right: auto;
  padding-left: 8px;
  padding-right: 8px;
}

.container--small {
  max-width: $container-small;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -8px;
  margin-right: -8px;
}

div[class*="grid-col-"] {
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 24px;
  flex-grow: 0;
  flex-shrink: 1;
}

.grid-col-lg-3 {
  @include breakpoint($bp-large) {
    flex-basis: 25%;
  }
}

.grid-col-lg-4 {
  @include breakpoint($bp-large) {
    flex-basis: 33.333333%;
  }
}

.grid-col-lg-6 {
  @include breakpoint($bp-large) {
    flex-basis: 50%;
  }
}

.layout--twocol-section {
  .layout__region {
    padding: 0 8px;
  }
}
